extends layout 

block content 

  div(class='container list-container')
    div(class="list-header d-flex justify-content-center align-items-center py-4")
      h1(class="list-title") #{formTitle}

    div(class="list")
      if allComponentsOfCategory.length
        p(class="text-center") You must delete these components before deleting #{category.name}
      ul(class="list-group")
        each component in allComponentsOfCategory
          li(class="list-group-item d-flex justify-content-between align-items-center row")
            a(href=component.url class="list-group-item d-flex align-items-center justify-content-around col-10")
              img(src=component.imgUrl alt=component.name class="img-thumbnail list-img me-4" loading="lazy")
              div(class="list-item-info")
                p(class="d-flex justify-content-between") #{component.name}
                P #{component.description}
            div(class="col d-flex flex-column align-items-center justify-content-center gap-4")
              a(class="btn btn-primary" href=component.url + "/delete") Delete 
                <i class="bi bi-trash3"></i>
          hr(class="my-2")
        else 
          li(class="list-group-item d-flex justify-content-center align-items-center row")
            p(class="list-group-item d-flex align-items-center justify-content-center") Are you sure you want to delete #{category.name}?

            form(class="d-flex justify-content-center" method='POST' action='')
              input(type='hidden' value=category._id name='category')
              button(class="btn btn-primary justify-self-center" type='submit') Delete 
                <i class="bi bi-trash3"></i>